
.card {
  cursor: pointer;
}

.innerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--vkui--color_text_primary) !important;

}

.imageContainer {
  max-width: 100%;
  max-height: 150px;
  overflow: hidden;
  border-radius: 10px;

  margin-bottom: 16px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  width: 100%;
  height: 40px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  vertical-align: middle;
}